// -----------------------------------------------------------------------------
// TEAM PAGE
// -----------------------------------------------------------------------------

.page__team {
	
	h2 {
		color: $white;
	}
	.header {
		.logo {
			display: inline-block;
		}
	}
	
	/* Team section */
	.team {
		background-color: $gray-darkest;

		.button-container {
			display: none;
			margin-bottom: 2rem;
			@media (#{$bp-larger-than-phablet}) {
				display: block;
			}
		}
	
		#team-grid {
			display: grid;
			grid-template-columns: repeat(auto-fill);
			grid-gap: 1rem;
			@media (#{$bp-larger-than-phablet}) {
				grid-template-columns: repeat(auto-fill, 22rem);
			}
		
			.member {
				display: none;
				opacity: 0;
				flex-direction: column;
				align-items: center;
				width: 100%;
				color: $color-secondary;
				background-color: $white;
				border-radius: 5px;
				padding: 1em;
				margin: 0;
				cursor: pointer;
				position: relative;
				overflow: hidden;
		
				&.show {
					display: flex;
					opacity: 1;
				}
	
				&:before {
					content: '';
					position: absolute;
					top: 0;
					width: 100%;
					height: 8rem;
					z-index: $z-index-1;
					@include linear-gradient($white, $color-primary, to);
				}
		
				&:hover {
					.member__image {
						transform: translateY(-2px);
						filter: brightness(120%);
					}
				}
		
				.member__name,
				.member__function {
					text-align: center;
				}

				.member__name {
					margin: 0 0 1rem;
					line-height: 1;
				}
				.member__function {
					color: $color-primary--dark;
					margin: 0 0 1rem;
				}
		
				.member__name,
				.member__image,
				.member__function {
					z-index: $z-index-2;
				}
				.member__image {
					max-width: 12rem;
					height: auto;
					border-radius: 100%;
					border: 3px solid white;
					box-shadow: 0px 1px 5px $gray-dark;
					overflow: hidden;
					transition: 0.1s ease-in;
					margin: 0 auto 1rem;
		
					img {
						display: block;
						width: 100%;
						max-width: 100%;
					}
				}		
			}
		}
	}

	/* Contact section */
	.contact {
		&.contact__bg {
			@include linear-gradient($color-primary, $color-primary--dark, vertical);
		}

		#contact__form {

			input:required:valid,
			textarea:required:valid {
				background: lighten($color-success, 30%);
			}

			.error-messages {
				list-style: none;
				li {
					color: $white;
				}

				label {
					margin-right: 1rem;
					min-width: 15rem;
					@media (#{$bp-larger-than-phablet}) {
						display: inline-block;
					}
				}
			}
		}
	}
}
