// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

//Globals
$line-height:            2.4rem !default;
$global-radius:          .2rem !default;
$border-color:            #bbb !default;

// Font variables
$font-sans-serif: "Open Sans", Helvetica, Arial, sans-serif !default;
$font-serif:       "Merriweather", Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-base:        $font-sans-serif;
$font-color:       #2a2a2a !default;

$font-size:                1.6rem !default;
$font-size--lg:            ceil($font-size * 1.23); // ~20px
$font-size--md:            ceil($font-size * 1.14); // ~16px
$font-size--sm:            ceil($font-size * 0.92); // ~13px
$font-size--xs:            ceil($font-size * 0.85); // ~12px


// Gray colors for theme
$gray-lightest:          #f6f6f6;
$gray-lighter:           #e4e4e4;
$gray-light:             #d3d3d3;
$gray:                   #a8a8a8;
$gray-dark:              #7e7e7e;
$gray-darker:            #545454;
$gray-darkest:           #2a2a2a;

// Brand colors
$color-primary:         rgba(30, 185, 221, 1.0);
$color-primary--dark:   darken($color-primary, 5%) !default;
$color-secondary:       $gray-darkest !default;

$color-info:            #5BC0EB;
$color-success:         #2BC016;
$color-warning:         #E67E22;
$color-danger:          #C3423F;

$color-link:            #496DDB !default;
$color-link--visited:   #9140D4 !default;
$color-link--hover:     darken($color-link, 10%) !default;
$color-link--active:    #D44076 !default;

$white:         #ffffff !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
$color-brand: rgba(30, 185, 221, 1.0) !default;

// Z-Index
$z-index-0:   -1;
$z-index-1:   10;
$z-index-2:   20;
$z-index-3:   30;
$z-index-4:   40;
$z-index-5:   50;
$z-index-6:   60;
$z-index-7:   70;
$z-index-8:   80;
$z-index-9:   90;
$z-index-10: 100;


// Grid Variables
$container-width: 1400px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 2% !default; // space between column grids

// Flex Grid Variables
$flex-grid__column--fixed-width: 200px !default;
$flex-grid--column-margin: 2% !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
